*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
  
}
div{
    text-align: center;
    padding: 20px 30px;
   
   
}
header{
    background-color: aqua;
}
footer{
   background-color: orangered;
   
}
h3{
   color: yellow;
   padding: 10px;
}